<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 通过spring来管理组件：
    bean:用来管理组件对象的创建
    class:用来指定管理组件对象的全限定名、包、类 一般是实现类
    id:用来指定spring框架创建的当前对象在spring容器(对象工厂)中唯一标识【全局唯一】
    -->
    <bean class="init.UserDaoImpl" id="userDao">
    </bean>
    <bean class="init.UserServiceImpl" id="userService">
        <!--
         依赖注入：
         property:用来给组件中的熟悉进行赋值操作
         name:用来指定组件中那个属性名进行赋值    private UserDao u;
         ref:用来指定赋值对象在工厂中唯一标识bean的id
         -->
        <property name="u" ref ="userDao"/>
        <property name="name" value="123"/>
        <property name="age" value="12"/>
        <property name="count" value="23.00"/>
        <!--
         在spring技术栈中日期格式默认为yyyy/MM/dd HH:mm:ss
         -->
        <property name="dir" value="2022/03/08"/>
        <!--
        注入数组
        -->
        <property name="aa">
            <array>
                <value>销售</value>
                <value>销毁</value>
                <value>雄安回家</value>
            </array>
        </property>
        <property name="userDaos">
            <array>
                <ref bean="userDao"/>
                <ref bean="userDao"/>
                <ref bean="userDao"/>
            </array>
        </property>
        <property name="hbb">
            <list>
                <value>dhhdh</value>
                <value>dhhdwwh</value>
                <value>dhhdwah</value>
            </list>
        </property>
        <property name="maps">
            <map>
                <entry key="aa" value="dd"></entry>
                <entry key="aa1" value="dd1"></entry>
                <entry key="aa2" value="dd2"></entry>
            </map>
        </property>
    </bean>
</beans>