<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="study.StudentDaoImpl" id="studentDao"></bean>
    <!--
    autowire:用来给组件中成员变量玩自动赋值操作
     byType:根据类型完成自动注入，根据成员变量类型去工厂找，找到对于类型完成赋值，否则不赋值
        注意：如果工厂中存在多个类型一致的组件使用类型注入会报错
     byName:根据名称完成自动注入，根据成员变量名称去工厂找，找到赋值，否则不赋值
     生命周期方法：
        init-method:在对象初始化时调用的对象
        destory-method:在对象销毁时调用
     -->
    <bean class="study.StudentServiceImpl" id="studentService"
          init-method="init" destroy-method="destory"
          autowire="byType" scope="prototype"></bean>

</beans>