<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--管理 sqlSessionFactory-->
    <bean id = "sqlSessionFactory" class="sm.SqlSessionFactoryBean">
        <property name="configLocations" value="sm/mybatis-config.xml"/>
    </bean>
</beans>